<div class="col-md-12">
    <br>
    <div class="col-md-10">
        <div class="col-md-3">
            <div><button type="button" class="btn btn-primary" (click)="addRole()">Create Order</button></div>    
        </div>
    </div>
    <br>
    <div>
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>Tc</th>
                <th>Doctor Name</th>
                <th>Qty</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let group of data">
                   <td>{{group.tc}}</td>
                   <td>{{group.doctorname}}</td>
                   <td>{{group.qty}}</td>
                   <td>{{group.total}}</td>
               </tr>
            </tbody>
          </table>
    </div>

</div>