<!-- <div class="row marginRightAll card"> -->
  <div class="col-md-12 padding-left-right">
    <div class="all_content_wrapper all_content_wrapper_sample_collection">
      <div class="allInner">
          <div class="tabArea registartionTab ">

            <tabset #tabset>
                <tab *ngFor="let tabz of tabs"
                      [heading]="tabz.title"
                      [active]="tabz.active"
                      (selectTab)="tabz.active = true; tabz.initiated = true;onSelect(tabz)"
                     
                      (deselect)="tabz.active = true"
                      [disabled]="tabz.disabled"
                      [customClass]="tabz.customClass">

                      <ng-container *ngIf="tabz.content == 'category' && tabz.initiated">
                          <app-category></app-category>
                      </ng-container>                   
                      <ng-container *ngIf="tabz.content == 'subCategory' && tabz.initiated">
                     
                        <app-sub-category (selectedTabEmitter)="getSelectedTab($event)"></app-sub-category>
                      </ng-container>
                      <ng-container *ngIf="tabz.content == 'measurement' && tabz.initiated">
                          <app-measurement></app-measurement>
                      </ng-container>
                      <ng-container *ngIf="tabz.content == 'itemModel' && tabz.initiated">
                        <app-item-model></app-item-model>
                    </ng-container>
                    <ng-container *ngIf="tabz.content == 'desingCat' && tabz.initiated">
                      <app-design-category></app-design-category>
                  </ng-container>
                  <ng-container *ngIf="tabz.content == 'desingSubCat' && tabz.initiated">
                    <app-design-sub-category></app-design-sub-category>
                </ng-container>
                </tab>
              </tabset>

          <!-- <ul class="nav nav-tabs nav-tabs2">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#collection">Collection</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#pending">Pending</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#collected">Collected</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#report">Report</a> </li>
          </ul>

          <div class="tab-content">

            <div id="collection" class="tab-pane active">
              <app-category></app-category>
            </div>

            <div id="pending" class="tab-pane fade">
              <app-sub-category></app-sub-category>
            </div>

            <div id="collected" class="tab-pane fade">
              <app-measurement></app-measurement>
            </div>
 

          </div> -->

        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
