<div class="modal-content">


    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            কাস্টমার অ্যাড
        </h5>
        <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="bsModalRef.hide()"
      >
        <span>&times;</span>
      </button>
    </div>




    <div class="modal-body crudForm">
        <div class="persoanlInfoArea">

            <form class="form-horizontal form-signin" (ngSubmit)="f.form.valid && onSaveOrUpdate(f)" #f="ngForm"
                novalidate action="index.html">

                <div class="row">
                    <div class="form-group col-md-7 ">
                        <label for="customerName">কাস্টমার নাম </label>
                        <input type="text" class="form-control" name="customerName"
                            [(ngModel)]="customer.customerName" #customerName="ngModel" />
                        <div *ngIf="f.submitted && customerName.invalid">
                            <div *ngIf="customerName.errors.required">
                                customerName is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="branchId">ব্রাঞ্চ   </label>
                        <input type="text" class="form-control" name="branchId"
                            [(ngModel)]="customer.branchId" #branchId="ngModel" />
                        <div *ngIf="f.submitted && branchId.invalid">
                            <div *ngIf="branchId.errors.required">
                                branchId is required
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!-- <div class="form-group col-md-3 ">
                        <label for="gender">জেন্ডার    </label>
                        <input type="text" class="form-control" name="gender"
                            [(ngModel)]="customer.gender" #gender="ngModel" />
                        <div *ngIf="f.submitted && gender.invalid">
                            <div *ngIf="gender.errors.required">
                                gender is required
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-3 ">
                        <div class="form-group row">
                          <label for="colFormLabel" class="col-md-6 col-form-label text-right padding0 top5">জেন্ডার</label>
                          <div class="col-md-12 paddingLeft0">
                            <select class="form-control">
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-md-5 col-sm-6 genDiv genderTitle">
                        <div [ngClass]="{'invalid-input':f.submitted && gender.invalid}">
                          <label for="" class="col-md-4 col-sm-6 control-label text-right paddingLeft0">জেন্ডার&nbsp;*&nbsp;:</label>
                          
                          <label class="radio-inline col-md-3 p-1 col-sm-12 fontWn">
                            <input type="radio" 
                                   class="mr-1" 
                                   [(ngModel)]="customer.gender" 
                                   value="M" 
                                   name="gender"
                                   #gender="ngModel"
                                   required>
                                   <span>Male</span>
                                  </label>
                          <label class="radio-inline col-md-5 p-1 col-sm-3 fontWn">
                            <input type="radio" 
                                   class="mr-1" 
                                   [(ngModel)]="customer.gender" 
                                   value="F" 
                                   name="gender"
                                   #gender="ngModel"
                                   required>
                                   <span>Female</span>
                                  </label>
                           </div>
                      </div>
                    <div class="form-group col-md-3">
                        <label for="mobile">মোবাইল নাম্বার </label>
                        <input type="number" class="form-control" name="mobile" [(ngModel)]="customer.mobile"
                            #mobile="ngModel" required />
                        <div *ngIf="f.submitted && mobile.invalid">
                            <div *ngIf="mobile.errors.required">
                                mobile is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="address">ঠিকানা </label>
                        <input type="text" class="form-control" name="address" [(ngModel)]="customer.address"
                            #address="ngModel" required />
                        <div *ngIf="f.submitted && address.invalid">
                            <div *ngIf="address.errors.required">
                                address is required
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-7 ">
                <label for="address">ঠিকানা </label>
                
                <textarea class="form-control"
                 rows="5" 
                 id="address" 
                 name="text"
                 [(ngModel)]="customer.address"
                  #address="ngModel"
                 />
               
            </div> -->
                </div>

                <div class="form-group">
                    <!-- <a href="" routerLink="/dashboard"></a> -->
                    <!-- <button class="btn-gradient-primary btn-block my-1 loginBtn">
            Submit
          </button> -->
                    <button type="submit" class="btn btn-dark"><i class="fa fa-plus"></i>  সেভ </button>

                </div>

            </form>


        </div>


    </div>

 

</div>