<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            অ্যাড অর্ডার
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body crudForm">
        <div class="persoanlInfoArea">

            <form class="form-horizontal form-signin" (ngSubmit)="f.form.valid && onSaveOrUpdate(f)" #f="ngForm" novalidate action="index.html">

                <div class="row">
         
                    
                    <div class="col-sm-4 form-group">
                        <label for="groupName">কাস্টমার কোড </label>

                        <ng-select
                        [loading]="true"
                        [dropdownPosition]="'bottom'"
                        [items]="customerList" 
                        placeholder="Choose customer code"
                        notFoundText="Product code not found" 
                        bindLabel="customerName" 
                        
                        bindValue="customerCode" 
                        [(ngModel)]= "customerCode"
                        name="customerCode"
                        (change)="selectCustomer($event)"
                        onselect="true" required>
                        <!-- <ng-option>{{customerCode + ' ' + customerName}}</ng-option> -->
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label">{{item.customerCode + ' ' + item.customerName}}</span>
                            <span class="ng-value-icon right" >×</span>
                        </ng-template>
                        
                        </ng-select>



                        <!-- <ng-select    bindLabel="customerName" placeholder="Select item" appendTo="body" 
                            [searchable]="true"  [clearable]="true"  [(ngModel)]="customerCode" [ngModelOptions]="{standalone: true}">
                            <ng-option [value]="item.customerCode" [disabled]="item.customerCode" (change)="selectCustomer($event)"
                                *ngFor="let item of customerList">

                                {{item.customerCode}}
                            </ng-option>
                            </ng-select> -->


                    </div>


                    <div class="form-group col-md-4 ">
                        <label for="productName">কাস্টমার নাম </label>
                        <input type="text" class="form-control" bindLabel="customer.customerName" [(ngModel)]="customer.customerName" name="customerName" />
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                  <div *ngIf="productName.errors.required">
                      productName is required
                  </div>
                </div> -->
                    </div>
                    <div class="form-group col-md-4">
                        <label for="productName">মোবাইল নাম্বার </label>
                        <input type="text" class="form-control" bindLabel="customer.mobile" [(ngModel)]="customer.mobile" name="mobile" />
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                  <div *ngIf="productName.errors.required">
                      productName is required
                  </div>
                </div> -->
                    </div>

                </div>
                <div class="row">

                    <div class="form-group col-md-8 ">
                        <label for="purchaseRate">ঠিকানা </label>

                        <textarea class="form-control" rows="2" id="comment" bindLabel="customer.address" [(ngModel)]="customer.address"  name="address"></textarea>

                    </div>
                    <div class="form-group col-md-4">
                        <label for="qty">অর্ডার ডেট </label>
                        <input type="text" 
                        class="form-control datePicker" 
                        placeholder="Select Date (DD-MM-YYYY)"      
                        bsDatepicker
                        [(ngModel)]="orderModel.orderDate"
                        [maxDate]="maxDate"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                        #orderDate="ngModel"
                        name="orderDate"
                        required/>





                        <!-- <input type="date" class="form-control" max="maxDate" name="orderDate" required /> -->
                        <!-- <div *ngIf="f.submitted && qty.invalid">
                  <div *ngIf="qty.errors.required">
                    qty Id is required
                  </div>
                </div> -->
                    </div>
                </div>


                <div class="row">


                    <div class="form-group col-md-4 ">
                        <label for="productName">অর্ডার নাম্বার </label>
                        <input type="text" class="form-control" name="productName" [(ngModel)]="orderid" bindLabel="orderid" readonly />
                        <!-- <div *ngIf="f.submitted && productName.invalid">
              <div *ngIf="productName.errors.required">
                  productName is required
              </div>
            </div> -->
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="groupName">পোশাকের নাম </label>

                        <ng-select [items]="catList" 
                        placeholder="Choose product code"
                        notFoundText="Product code not found" 
                        bindLabel="cname" 
                        bindValue="categoryId" 
                        name="categoryId"
                        (change)="selectCategory($event)"
                        onselect="true" required>
                        </ng-select>
                    </div>


                    <div class="col-sm-4 form-group">
                        <label for="groupName">পোশাকের মডেল </label>

                        <ng-select [items]="subcatList" placeholder="Choose product code"
                            notFoundText="Product code not found" bindLabel="itemName" [(ngModel)]="itemId" bindValue="itemId" name="itemId"
                            (change)="selectL1Item($event)" onselect="true" required>
                        </ng-select>
                    </div>
           

                </div>

           
                <div class="row bg-light">
                    <div class="col-md-2" *ngFor="let item of mesurementList; let i=index; trackBy: trackItem | async " >
                        <div class="form-group">
                            <label>{{item.measurementName}}</label>
                        
                           <td> 
                            <input type="number" class="form-control" name=a{{i}} [(ngModel)]="mesurementList[i].measurementValue">
                               <!-- <input type="text" id="item.measurementId"  class="form-control"  [attr.id] = "item.measurementId"
                            [attr.name] = "item.measurementName"   [(ngModel)]="item.measurementValue"  name="measurementValue" maxlength="4"> -->
                        
                        </td>
                           
                        </div>
                    </div>

                <!-- <table>
                    <tbody>
                        <tr>
                            <td  *ngFor="let item of mesurementList let i=index">
                                <div class="form-group ">
                                    <label>{{item.measurementName}}{{item.measurementId}}</label>
                                <td> <input type="number"  class="form-control"  [attr.id] = "item.measurementId"
                                    [attr.name] = "item.measurementName"   [(ngModel)]="item.measurementValue"  name="measurementValue" maxlength="4"></td>
                                    <label [attr.for] = "item.measurementName" class="form-check-label">{{item.measurementName}}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> -->

                </div>
                <!-- <div class="row bg-light">
                    <table>
                        <tr *ngFor="let data of mesurementList; let i = index;trackBy:trackByFn;">
                          <td>
                            <input type="number" name=a{{i}} [(ngModel)]="mesurementList[i].measurementValue">
                          </td>
                      </table>
                   
                </div> -->



                <div class="row bg-light">
                    <div class="col-md-2" *ngFor="let item of designList;let i=index;  trackBy: trackItem ">
                        <label>{{item.desingName}}</label>
                        <div class="form-group">
                           
                             
                            <ng-select [items]="designList[i].designSubCategoryModelList" 
                            [addTag]="true"
                            
                            [hideSelected]="true"
                            placeholder="Choose product code"
                            notFoundText="measurement code not found" 
                            bindLabel="measurement" 
                            bindValue="designSubCategoryId" 
                            name="designSubCategoryId"
                            (change)="ngSelectOpened($event)"
                            [tracktrackmesuremnet]="tracktrackmesuremnet"
                            [ngModelOptions]="{standalone: true}"
                            onselect="true" required>
                            </ng-select>

                            



                            <!-- <ng-select [items]="people$ | async"
                            bindLabel="name"
                            [addTag]="true"
                            [multiple]="true"
                            [hideSelected]="true"
                            [trackByFn]="trackByFn"
                            [minTermLength]="2"
                            (open)="ngSelectOpened(pref.name)"
                            [loading]="peopleLoading"
                            typeToSearchText="Please enter 2 or more characters"
                            [typeahead]="peopleInput$"
                            [(ngModel)]="pref.selected">
                                </ng-select> -->
<!-- 
                            <ng-select    bindLabel="itemModelId" placeholder="Select item" appendTo="body" 
                            [searchable]="true"  [clearable]="true"  [(ngModel)]="itemModelId" [ngModelOptions]="{standalone: true}">
                            <ng-option [value]="item.itemModelId" [disabled]="item.disabled"
                                *ngFor="let item of designList[i].designSubCategoryModelList">

                                {{item.measurement}}
                            </ng-option>
                            </ng-select> -->
                            
                           <!-- <td> <input type="text" id="item.measurementId"  class="form-control"  [attr.id] = "item.measurementId"
                            [attr.name] = "item.measurementName"   [(ngModel)]="item.measurementValue"  name="measurementValue" maxlength="4"></td>
                            -->
                        </div>
                    </div>
                </div>
                <!-- <div class="row bg-light">
                    <div class="col-md-2" *ngFor="let item of designList; let i=index; trackBy: trackItem | async " >
                        <div class="form-group">
                            <label>{{item.desingName}}</label>
                        
                           <td> 
                            <input type="number" class="form-control" name=a{{i}} [(ngModel)]="mesurementList[i].measurementValue">
                           
                        
                        </td>
                           
                        </div>
                    </div>
                </div> -->

               
                <div class="row">
                   
                    <div class="form-group col-md-8">
                        <label for="productName">  কাজের মডেল </label>
                        <ng-select    bindLabel="itemModelId" placeholder="Select item" appendTo="body" multiple="true"
                            [searchable]="true" [editableSearchTerm]="true" [clearable]="true"  [(ngModel)]="itemModelId" [ngModelOptions]="{standalone: true}">
                            <ng-option [value]="item.itemModelId" [disabled]="item.disabled"
                                *ngFor="let item of itemEntityList">

                                {{item.modelName}}
                            </ng-option>
                        </ng-select>
                        

                    </div>

                </div>

                <div class="row">


                    <div class="form-group col-md-3 ">
                        <label for="productName">ডেলিভারী তারিখ </label>
                        <input type="text" 
                        class="form-control datePicker" 
                        placeholder="Select Date (DD-MM-YYYY)"      
                        bsDatepicker
                        [(ngModel)]="orderModel.deliveryDate"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                        #deliveryDate="ngModel"
                        name="deliveryDate"
                        required/>
                     
                        <!-- <div *ngIf="f.submitted && deliveryDate.invalid">
                                            <div *ngIf="deliveryDate.errors.required">
                                                deliveryDate is required
                                            </div>
                                            </div> -->
                    </div>
                    <div class="form-group col-md-2 ">
                        <label for="productName">মূল্য </label>
                        <input type="number" readonly class="form-control" bindLabel="orderAccountDetails.itemRate" [(ngModel)]="orderAccountDetails.itemRate" name="itemRate" />
                        <!-- <input type="text" class="form-control" name="productName" /> -->
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                                            <div *ngIf="productName.errors.required">
                                                productName is required
                                            </div>
                                            </div> -->


                    </div>
                    <div class="form-group col-md-2 ">
                        <label for="productName">পরিমান </label>
                        <input type="number" class="form-control" bindLabel="orderAccountDetails.qty" (input)="getTotal()" [(ngModel)]="orderAccountDetails.qty" name="qty" />
                         
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                                            <div *ngIf="productName.errors.required">
                                                productName is required
                                            </div>
                                            </div> -->
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="productName">মোটা মূল্য</label>
                        
                        <input type="number" readonly class="form-control"     bindLabel="grandTotal" [(ngModel)]="grandTotal" name="grandTotal" />
                         
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                                            <div *ngIf="productName.errors.required">
                                                productName is required
                                            </div>
                                            </div> -->
                    </div>
                   

                </div>



                <div class="form-group">

                    <button  (click)="addod()" class="btn btn-dark"><i class="fa fa-plus"></i>  অ্যাড করুন   </button>

                </div>

            </form>


        </div>



        

    </div>

    <div>
        
        <table class="table table-borderless">
            <thead class="thead-light">
              <th>SL</th>
              <th>Product Code</th>
              <th>Product Name</th>
              <th>Qty</th>
              <th>Unit Price</th>
              <th>Total</th>
              <th>Action</th>
              <!-- <th> Grand Total = {{grandTotal}}</th> -->
            </thead>
            <tbody>
              <tr *ngIf="orderAccountDetailsList.length==0" [class.text-danger]="!isValid && orderAccountDetailsList.length==0">
                <td class="font-italic text-center" colspan="5">
                  No item selected for this order.
                </td>
              </tr>
        
              <tr *ngFor="let group of orderAccountDetailsList; let i=index;">
                <td>{{i+1}}</td>
                <td>{{group.itemId}}</td>
                <td>{{group.itemName}}</td>
               
               
                <td>{{group.qty}}</td>
                <td>{{group.itemRate}}</td>
                <td>{{group.qty*group.itemRate}}</td>
               
                <td>
                  <a class="btn btn-sm btn-info text-white" (click)="editData(group,this)"><i class="fas fa-edit"></i></a>
                  <a class="btn btn-sm btn-danger text-white ml-1" (click)='deleteitem(i)' ><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success " (click)="submitOrder()">সাবমিট </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="bsModalRef.hide()">বাতিল </button>
      </div>


</div>