<div class="modal-content">


    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            কাস্টমার অ্যাড
        </h5>
        <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="bsModalRef.hide()"
      >
        <span>&times;</span>
      </button>
    </div>




    <div class="modal-body crudForm">
        <div class="persoanlInfoArea">

            <form class="form-horizontal form-signin" (ngSubmit)="f.form.valid && onSaveOrUpdate(f)" #f="ngForm"
                novalidate action="index.html">

                <div class="row">
                    <div class="col-md-4 col-sm- genDiv genderTitle">
                        <label for="" class="col-md-8 col-sm-10 control-label text-right paddingLeft0">পোশাক টাইপ &nbsp;*&nbsp;:</label>
                        <div  >
                         
                          <!-- <input name="type" [(ngModel)]="drestype" type="radio" [value]="1"  /> শার্ট
                          <input name="type" [(ngModel)]="drestype" type="radio" [value]="0"  /> প্যান্ট -->
                          <label class="radio-inline col-md-5 p-1 col-sm-12 fontWn">
                            <input name="ctype" [(ngModel)]="categoryModel.ctype" type="radio" [value]="1"  />
                                   <span>&nbsp;&nbsp;আপ</span>
                                  </label>
                          <label class="radio-inline col-md-5 p-1 col-sm-8 fontWn">
                            <input name="ctype" [(ngModel)]="categoryModel.ctype" type="radio" [value]="2"  />
                                   <span>&nbsp;&nbsp;ডাউন</span>
                                  </label>
                           </div>
                      </div>
                    

                    <div class="form-group col-md-3 "></div>
                     
                      <div class="form-group col-md-6 ">
                        <label for="cname">পোশাকের  নাম </label>
                        <input type="text" class="form-control" name="cname"
                            [(ngModel)]="categoryModel.cname" #cname="ngModel" />
                        <div *ngIf="f.submitted && cname.invalid">
                            <div *ngIf="cname.errors.required">
                              cname is required
                            </div>
                        </div>
                    </div>



                       

                </div>
                

                <div class="form-group">
                   
                    <button type="submit" class="btn btn-dark"><i class="fa fa-plus"></i>  সেভ </button>

                </div>

            </form>


        </div>


    </div>

 

</div>