<div class="modal-content container">


    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          ডেলিভারি 
        </h5>
        <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="bsModalRef.hide()"
      >
        <span>&times;</span>
      </button>
    </div>




    <div class="modal-body crudForm">
        <div class="persoanlInfoArea">

            <form class="form-horizontal form-signin" (ngSubmit)="f.form.valid && onSaveOrUpdate(f)" #f="ngForm"
                novalidate action="index.html">

                <div class="row">
                    <!-- <div class="col-sm-3 form-group">
              <label for="groupName">কাস্টমার কোড </label>
              <ng-select 
                  [items]="groupList"
                  placeholder="Choose prod labe3"
                  notFoundText="No groupName found"
                  bindLabel="groupName"
                  bindValue= "groupName"
                  
                  (change)="selectL1Item($event)"
                  name="groupName"
                 
                  [ngClass]="{'invalid-input':f.submitted && groupName.invalid}" required>
              </ng-select>
          </div> -->

                    <div class="form-group col-md-3 ">
                        <label for="productName">অর্ডার নাম্বার</label>
                        <input type="text" class="form-control" name="productName" />
                        <!-- <div *ngIf="f.submitted && productName.invalid">
              <div *ngIf="productName.errors.required">
                  productName is required
              </div>
            </div> -->
                    </div>


                    <div class="form-group col-md-3 ">
                        <label for="productName">চালান নাম্বার  </label>
                        <input type="text" class="form-control" name="productName" />
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                  <div *ngIf="productName.errors.required">
                      productName is required
                  </div>
                </div> -->
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="productName">কাস্টমার  কোড </label>
                        <input type="text" class="form-control" name="productName" />
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                  <div *ngIf="productName.errors.required">
                      productName is required
                  </div>
                </div> -->
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="productName">কাস্টমার  নাম  </label>
                        <input type="text" class="form-control" name="productName" />
                        <!-- <div *ngIf="f.submitted && productName.invalid">
                  <div *ngIf="productName.errors.required">
                      productName is required
                  </div>
                </div> -->
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="qty">কাষ্টমার মোবাইল  </label>
                        <input type="number" class="form-control" name="qty" required />
                        <!-- <div *ngIf="f.submitted && qty.invalid">
                  <div *ngIf="qty.errors.required">
                    qty Id is required
                  </div>
                </div> -->
                    </div>
                    <div class="form-group col-md-3">
                        <label for="qty">মোটা টাকা  </label>
                        <input type="number" class="form-control" name="qty" required />
                        <!-- <div *ngIf="f.submitted && qty.invalid">
                  <div *ngIf="qty.errors.required">
                    qty Id is required
                  </div>
                </div> -->
                    </div>
                    <div class="form-group col-md-3">
                        <label for="qty">অর্ডার তারিখ </label>
                        <input type="number" class="form-control" name="qty" required />
                        <!-- <div *ngIf="f.submitted && qty.invalid">
                  <div *ngIf="qty.errors.required">
                    qty Id is required
                  </div>
                </div> -->
                    </div>
                    <div class="form-group col-md-3">
                        <label for="qty">ডেলিভারি  তারিখ </label>
                        <input type="number" class="form-control" name="qty" required />
                        <!-- <div *ngIf="f.submitted && qty.invalid">
                  <div *ngIf="qty.errors.required">
                    qty Id is required
                  </div>
                </div> -->
                    </div>
                    
                </div>

                <div class="row" style="align-items: center; border-color: blueviolet; border-style: dashed;">
                    <div class="form-group col-md-4">
                        <label for="qty" style="font-style:italic;font-size: large;text-decoration: underline">পরিষদ করা হয়েছে  </label>
                        <div class="form-group">
                            <label for="qty">ডিসকাউন্ট </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                        <div class="form-group">
                            <label for="qty">অগ্রিম টাকা </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                        <div class="form-group">
                            <label for="qty">জমা  </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                        <div class="form-group">
                            <label for="qty">বাকী </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                        
                    </div>
                    <div class="form-group col-md-4">
                        <label for="qty">পরিষদ করা হয়েছে </label>
                        <input type="number" class="form-control" name="qty" required />
                        <!-- <div *ngIf="f.submitted && qty.invalid">
                  <div *ngIf="qty.errors.required">
                    qty Id is required
                  </div>
                </div> -->
                    </div>
                    <div class="form-group col-md-4">
                        <label style="text-decoration: underline;" >চলতি </label>
                        <div class="form-group ">
                            <label for="qty">পরিশোধ করবে </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                        <div class="form-group ">
                            <label for="qty">পরিশোধ  </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                        <div class="form-group ">
                            <label for="qty">ডিসকাউন্ট </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                        <div class="form-group ">
                            <label for="qty">বাকী </label>
                            <input type="number" class="form-control" name="qty" required />
                            <!-- <div *ngIf="f.submitted && qty.invalid">
                      <div *ngIf="qty.errors.required">
                        qty Id is required
                      </div>
                    </div> -->
                        </div>
                       
                    </div>
                    
                    
                </div>


                  <div></div>
                  <br>
 

                <div class="form-group">
                    <!-- <a href="" routerLink="/dashboard"></a> -->
                    <!-- <button class="btn-gradient-primary btn-block my-1 loginBtn">
            Submit
          </button> -->
                    <button type="submit" class="btn btn-dark"><i class="fa fa-plus"></i>  সেভ</button>

                </div>

            </form>


        </div>


    </div>


 

</div>