<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="all_content_wrapper card">
                <!-- <div id="apgeTitle">Employee List</div> -->
                <div class="allInner">
                    <div class="row">
                        <div class="col-lg-12 paddin4">
                            <!-- crudArea -->
                            <div class="card-header" style="background:  #194771; color: white;">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4>Order Details </h4>
                                    </div>
                                    <div class="col-md-4" style="position: relative;">
                                        <div class="btnAllRow">



                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin: 20px;">
                                <div class="col-sm-3 form-group">
                                    <label for="groupName">কাস্টমার কোড </label>


                                    <input type="text" class="form-control" bindLabel="customer.customerCode"
                                        [(ngModel)]="customer.customerCode" name="mobile" readonly />
                                </div>
                                <div class="form-group col-md-3 ">
                                    <label for="productName">কাস্টমার নাম </label>
                                    <input type="text" class="form-control" bindLabel="customer.customerName"
                                        [(ngModel)]="customer.customerName" name="customerName" readonly />
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="productName">মোবাইল নাম্বার </label>
                                    <input type="text" class="form-control" bindLabel="customer.mobile"
                                        [(ngModel)]="customer.mobile" name="mobile" readonly />

                                </div>
                                <!-- <div class="form-group col-md-3">
                                    <label for="productName">date </label>
                                    <input type="text" class="form-control" bindLabel="orderModel.orderDate"
                                        [(ngModel)]="orderModel.orderDate" name="mobile" readonly />

                                </div> -->
                               
                            </div>
                            <!-- <div class="row col-md-8" style="margin: 20px;">
                                <div class="col-md-2"><u>Item Name</u></div>
                                <div  class="col-md-2"><u>Item Rate</u></div>
                                <div  class="col-md-2"><u>Qty</u></div>
                                <div  class="col-md-4"><u>Measurement</u></div>
                            </div> -->
                            <hr class="dashed">
                            <div class="row " style="margin: 20px;" *ngFor="let item of orderViewModelList; let i=index;" >
                                <div class="row col-md-3">
                                    <div class="col-md-5">
                                        <label>পোশাকের নাম</label>
                                       <div>{{item.i_id}}</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>মূল্য</label>
                                        <div>{{item.item_price}}</div>
                                        </div>
                                    <div class="col-md-2">
                                        <label>পরিমান</label>
                                        <div>{{item.qty}}</div>
                                    </div>
                                </div>
                                <hr class="dashed">
                                <div class="row col-sm-5"style="border:double; border-width: 2;">
                                    <div class="col-md-2">
                                        <label>লম্বা</label>
                                        <div>{{item.lomba}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>বুক</label>
                                        <div>{{item.buk}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>পেট</label>
                                        <div>{{item.pet}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>হিপ</label>
                                        <div>{{item.hip}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>কাধ</label>
                                        <div>{{item.kad}}</div>
                                    </div>

                                    <div class="col-md-2">
                                        <label>হাত</label>
                                        <div>{{item.hata}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>গলা</label>
                                        <div>{{item.gola}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>কাফ</label>
                                        <div>{{item.kaf}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>মহুরী</label>
                                        <div>{{item.mohori}}</div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>ঘের</label>
                                        <div>{{item.ger}}</div>
                                    </div>
                                  

                                   

                                </div>
                                <hr class="dashed">
                                <div class="row col-sm-4" style="border:dotted; border-width: 2; padding-left: 10;">
                                    <div class="col-md-4">
                                        <label>কফ</label>
                                        <div>{{item.kof_design}}</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>কোলোর</label>
                                        <div>{{item.kolor_design}}</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>পকেট</label>
                                        <div>{{item.poket_design}}</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>সেলাই</label>
                                        <div>{{item.selay_design}}</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>চেন</label>
                                        <div>{{item.chain_design}}</div>
                                    </div>
                                    
                                </div>
                                
                                
                               
                                
                              
                                    <div class="col-md-1" *ngFor="let items of item.ordermeasurementList; let i=index;  " >
                                        <div class="form-group">
                                            <label>{{items.measurementName}}</label>
                                        
                                           <td> 
                                            <input type="text" readonly class="form-control" name=a{{i}} [(ngModel)]="items.measurementValue">
                                             
                                            </td>
                                           
                                        </div>
                                    </div>
                                    <hr class="dashed">
                                


                              

                            </div>
                            <hr class="dashed">
                            <div class="row bg-light">

                 

                                <!-- <div class="col-md-2" *ngFor="let item of designList;let i=index;  trackBy: trackByFn | async">
                                    <label>{{item.desingName}}</label>
                                    <div class="form-group">
                                       
                                         
                                        <ng-select [items]="designList[i].designSubCategoryModelList" 
                                        [addTag]="true"
                                        
                                        [hideSelected]="true"
                                        onselect="true"
                                        [clearable]="true"
                                        placeholder="Choose product code"
                                        notFoundText="measurement code not found" 
                                        bindLabel="measurement" 
                                        
                                        bindValue="designSubCategoryId" 
                                        name="designSubCategoryId"
                                        ([ngModel])="item.designSubCategoryId"
                                        (change)="ngSelectOpened($event)"
                                        [tracktrackmesuremnet]="tracktrackmesuremnet"
                                        [ngModelOptions]="{standalone: true}"
                                        required>
                                        </ng-select>
            
             
                                    </div>
                                </div> -->
                            </div>


                            <div class="employeeTable selectedTable">
                                <!-- <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table>
                  </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>