<div class="container">


    <div class="table-responsive ">
        <table class="table table-bordered table-hover " datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th>কাস্টমার কোড</th>
                    <th>কাস্টমার নাম</th>
                    <th>মোবাইল নাম্বার </th>
                    <th>মোট টাকা </th>
                    <th>ডিসকাউন্ট </th>
                    <th>পরিশোধ </th>
                    <th>বাকী </th>
                     
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of data">
                    <td>{{group.tc}}</td>
                    <td>{{group.doctorname}}</td>
                    <td>{{group.qty}}</td>
                    <td>{{group.total}}</td>
                    <td>{{group.discount}}</td>
                    <td>{{group.paid}}</td>
                    <td>{{group.unpaid}}</td>

                    

                </tr>
            </tbody>
        </table>
    </div>
</div>